# Logsecho logsecho *.logecho npm-debug.log*echo yarn-debug.log*echo yarn-error.log*echo pnpm-debug.log*echo lerna-debug.log*echo.echo # Dependenciesecho node_modulesecho.echo # Build outputsecho distecho dist-ssrecho *.localecho.echo # Editor directories and filesecho .vscode/*echo !.vscode/extensions.jsonecho .ideaecho .DS_Storeecho *.suoecho *.ntvs*echo *.njsprojecho *.slnecho *.sw?echo.echo # Environment variablesecho .envecho.echo # Vercelecho .vercel
